.search-ambassadors__item {
    display: grid;
    grid-template-columns: minmax(215px, 215px) minmax(225px, 310px);
    grid-gap: 20px;
    @include mobileXS-block {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 25px;
    }
}

.search-ambassador__wrapper-link {
    text-decoration: none;
}

.search-ambassadors__results {
    margin-top: 50px;
}

.search-ambassadors__item {
    margin-top: 25px;
    @include mobileXS-block {
        margin-top: 50px;
    }
}

.search-ambassadors__pic {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 215px;
    max-height: 215px;
    overflow: hidden;
    border-radius: 25px;
    background: rgba(0,0,0, 0.3);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    @include mobileXS-block {
        min-height: 250px;
        max-height: 250px;
    }
}

.search-ambassadors__thumb {
    display: block;
    width: auto;
    height: auto;
}

.search-ambassadors__descr {
    margin-top: 25px;
}

.search-ambassadors__no-found {
    margin-top: 50px;
}