.slider__body {
    position: relative;
}

.slider__arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    cursor: pointer;
    z-index: 500;
    @include to(1280px) {
        top: auto;
        transform: translateY(0);
    }
    // @include tabletSM(top, 53%);
}

.slider__arrow--prev {
    left: -30px;
    @include to(1280px) {
        left: 30%;
    }
    @include tabletSM(left, 30%);
    @include mobile(left, 15%);
    @include mobileXS(left, 5%);
}

.slider__arrow--next {
    right: -30px;
    @include to(1280px) {
        right: 30%;
    }
    @include tabletSM(right, 30%);
    @include mobile(right, 15%);
    @include mobileXS(right, 5%);
}

.slider__arrow--next,
.slider__arrow--prev {
    @include to(1280px) {
        bottom: -15px;
    }
}

.slider__arrow.swiper-button-disabled {
    opacity: 0.25;
}

.slider__pagination {
    position: relative;
    margin-top: 15px;
    width: 100%;
    z-index: 101;
    display: flex;
    justify-content: center;
    @include to(1280px) {
        margin-top: 40px;
    }
    // @include tabletSM(margin-top, 20px);
}

.slider__bullet {
    display: inline-block;
    border-radius: 15px;
    width: 8px;
    height: 5px;
    background: var(--color-white);
    border: 1px solid rgba(18, 18, 18, 0.3);
    transform: scale(1);
    transition: width .5s ease-in-out, transform .5s ease-in-out;
    cursor: pointer;
}

.slider__bullet--active {
    width: 40px;
}

.slider__bullet ~ .slider__bullet {
    margin-left: 10px;
}