    </main>
    <!-- /. MAIN -->

    <!-- Footer -->
    <footer class="footer bg--black-hight">
        <div class="footer__body container">
            <div class="footer__inner">
                <div class="footer__column footer__column--nav">
                    <h3 class="footer__title-col title title--medium title--black title--w-medium">
                        Главная
                    </h3>
                    <nav class="footer__menu-nav menu">
                        <ul class="footer__menu-list menu__list">
                            <li class="footer__menu-item menu__item">
                                <a href="" class="footer__menu-link menu__link">
                                    Задачи проекта
                                </a>
                            </li>
                            <li class="footer__menu-item menu__item">
                                <a href="" class="footer__menu-link menu__link">
                                    Преимущества участия в проекте
                                </a>
                            </li>
                            <li class="footer__menu-item menu__item">
                                <a href="" class="footer__menu-link menu__link">
                                    Карта амбассадоров целей устойчивого развития
                                </a>
                            </li>
                            <li class="footer__menu-item menu__item">
                                <a href="" class="footer__menu-link menu__link">
                                    Команда
                                </a>
                            </li>
                            <li class="footer__menu-item menu__item">
                                <a href="" class="footer__menu-link menu__link">
                                    Партнёры
                                </a>
                            </li>
                            <li class="footer__menu-item menu__item">
                                <a href="" class="footer__menu-link menu__link">
                                    Контакты
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__column footer__column--nav">
                    <h3 class="footer__title-col title title--medium title--black title--w-medium">
                        Новости
                    </h3>
                    <nav class="footer__menu-nav menu">
                        <ul class="footer__menu-list menu__list">
                            <li class="footer__menu-item menu__item">
                                <a href="" class="footer__menu-link menu__link">
                                    Актуальные новости
                                </a>
                            </li>
                            <li class="footer__menu-item menu__item">
                                <a href="" class="footer__menu-link menu__link">
                                    Новости проекта
                                </a>
                            </li>
                            <li class="footer__menu-item menu__item">
                                <a href="" class="footer__menu-link menu__link">
                                    Новости экологии
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__column footer__column--nav">
                    <h3 class="footer__title-col title title--medium title--black title--w-medium">
                        Поиск
                    </h3>
                    <nav class="footer__menu-nav menu">
                        <ul class="footer__menu-list menu__list">
                            <li class="footer__menu-item menu__item">
                                <a href="" class="footer__menu-link menu__link">
                                    Поиск по сайту
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <h3 class="footer__title-col title title--medium title--black title--w-medium">
                        Медиa
                    </h3>
                    <nav class="footer__menu-nav menu">
                        <ul class="footer__menu-list menu__list">
                            <li class="footer__menu-item menu__item">
                                <a href="" class="footer__menu-link menu__link">
                                    Instagramm
                                </a>
                            </li>
                            <li class="footer__menu-item menu__item">
                                <a href="" class="footer__menu-link menu__link">
                                    Facebook
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <a href="./" class="footer__logo">
                    <img src="img/logo-footer.png" alt="" class="footer__img-logo">
                </a>
            </div>
            <div class="footer__reserved center">
                <p class="footer__text title title--tiny title--dark-gray title--w-light">
                    Все права защищены ©
                </p>
                <p class="footer__text title title--tiny title--black title--w-regular">
                    Амбассадоры целей устойчивого развития 2021
                </p>
            </div>
        </div>
    </footer>
    <!-- /. Footer -->

    <div class="devsite">
        <div class="devsite__outer">
            <a href="https://fcdigital.ru" class="devsite__link">
                <div class="devsite__text">
                    Разработка и дизайн сайта Fincom Digital
                </div>
                <div class="devsite__logo">
                    <svg class="devsite__logo-img" width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M22.5011 21.5088V44.0319L10.9922 32.7703L20.3166 23.6463L22.5011 21.5088Z" fill="#121212"/>
                        <path d="M27.791 38.8534V5.17578L44.9998 22.0146L27.791 38.8534Z" fill="#121212"/>
                        <path d="M22.5014 0V15.2512L7.79316 29.6403L0 22.0147L20.3169 2.13755L22.5014 0Z" fill="#121212"/>
                    </svg>
                </div>
            </a>
        </div>
    </div>
    
<script src="https://yastatic.net/share2/share.js"></script>
<script src="js/scripts.min.js"></script>
</body>
</html>