/* Containers */

.container {
	@include wrapper();
}

.container-full {
	@include wrapper-full();
}

.container-page {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

/* Hide */

.hide {
    display: none !important;
}

.hide-tablet {
	@include tablet(display, none !important);
}

.hide-tabletSM {
	@include tabletSM(display, none !important);
}

.hide-mobile {
	@include mobile(display, none !important);
}

/* Position */

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* Background */

.bg {
    &--white {
        background-color: var(--color-white);
    }
    &--dark {
        background-color: var(--color-dark);
    }
}

/* Links */

.link {
    text-decoration: none;
    transition: ease .3s;
}

.link:hover {
    color: var(--color-orange);
}

/* Title */

.title {
    font-family: var(--font-montserrat);
    font-style: normal;
    margin: 0;
    &--big {
        font-size: responsive 25px 35px;
        font-range: 320px 1440px;
    }
    &--large {
        font-size: responsive 22px 30px;
        font-range: 1024px 1440px;
    }
    &--medium {
        font-size: responsive 18px 22px;
        font-range: 1024px 1440px;
    }
    &--small {
        font-size: 16px;
    }
    &--tiny {
        font-size: 12px;
    }
    &--white {
		color: var(--color-white);
	}
    &--black {
        color: var(--color-black);
	}
    &--dark-gray {
        color: var(--color-dark-gray);
	}
    &--green-light {
        color: var(--color-green-light);
	}
	&--w-light {
		font-weight: 300;
    }
    &--w-regular {
		font-weight: normal;
	}
    &--w-medium {
		font-weight: 500;
	}
	&--w-bold {
		font-weight: 700;
	}
	&--w-extrabold {
		font-weight: 800;
	}
	&--uppercase {
		text-transform: uppercase;
	}
}

.title--indent {
    margin: 0 0 30px 50px;
    @include tablet(margin, 0 0 20px 15px);
    @include mobile(margin, 0 0 20px 0);
}

/* Text */

.text {
    font-family: var(--font-rubik);
    font-style: normal;
    margin: 0;
	&--white {
		color: var(--color-white);
	}
    &--black {
        color: var(--color-black);
	}
    &--dark-gray {
        color: var(--color-dark-gray);
	}
    &--green-light {
        color: var(--color-green-light);
	}
	&--big {
        font-size: responsive 18px 20px;
        font-range: 320px 1200px;
	}
	&--large {
        font-size: responsive 16px 18px;
        font-range: 320px 1200px;
	}
	&--normal {
        font-size: responsive 14px 16px;
        font-range: 320px 1200px;
	}
	&--small {
		font-size: 12px;
	}
	&--w-light {
		font-weight: 300;
	}
	&--w-regular {
		font-weight: normal;
	}
	&--w-bold {
		font-weight: bold;
	}
    &--uppercase {
		text-transform: uppercase;
	}
}