:root {
    --color-white: #FFFFFF;
    --color-white-milk: #ECECF0;
    --color-black: #121212;
    --color-dark-gray: #555555;
    --color-green-light: #1EBC7F;
    --font-montserrat: "Montserrat" Arial, sans-serif;
    --font-rubik: "Rubik", Arial, sans-serif;
}