:root {
    --color-white: #FFFFFF;
    --color-white-milk: #ECECF0;
    --color-black: #121212;
    --color-gray: #5F5F5F;
    --color-dark-gray: #555555;
    --color-green-light: #1EBC7F;
    --color-blue: #136BCF;
    --color-yellow: #EEFF00;
    --color-invalid: #e61d1d;
    --gradient-green: linear-gradient(90deg, #38D188 28.12%, rgba(56, 209, 136, 0.65) 100%);
    --font-montserrat: "Montserrat" Arial, sans-serif;
    --font-rubik: "Rubik", Arial, sans-serif;
}