.footer {
    padding: 45px 0 27px;
    background: var(--color-white-milk);
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include mobile-block {
        flex-wrap: wrap;
    }
}

.footer__column ~ .footer__column {
    margin-left: 20px;
    @include mobileXS-block {
        margin-left: 0;
        margin-top: 40px;
    }
}

.footer__column--nav {
    max-width: 226px;
    @include mobileXS-block {
        max-width: 100%;
        width: 100%;
    }
}

.footer__menu-nav + .footer__title-col {
    margin-top: 70px;
}

.footer__title-col {
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(18, 18, 18, 0.05);
    margin-bottom: 15px;
}

.footer__logo {
    margin-left: 160px;
    @include to(1280px) {
        margin-left: 100px;
    }
    @include tabletSM(margin-left, 40px);
    @include mobile-block {
        margin: 40px auto 0 auto;
        text-align: center;
    }
}

.footer__reserved {
    margin-top: 100px;
    @include mobile(margin-top, 50px);
}

.footer__text ~ .footer__text {
    margin-top: 5px;
}