.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1001;
}

.header__outer {
    position: relative;
    z-index: 1001;
    padding: 24px 0;
    background: var(--color-white);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(45px);
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img-logo {
    display: block;
}

.header__inner {
    display: flex;
    align-items: center;
}

.header__menu-list.menu__list {
    display: flex;
    align-items: center;
    padding: 0;
}

.header__menu-item.is-active .menu__link {
    border-bottom: 1px solid rgba(149, 149, 149, 0.5);
}

.header__menu-item.menu__item ~ .header__menu-item.menu__item {
    margin-top: 0;
    margin-left: 35px;
}

.header__burger-menu {
    margin-left: 55px;
}

.header__actions {
    margin-left: 35px;
}