.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1001;
    transform: translateY(0);
    transition: transform .3s ease-in-out;
}

.header.is-open {
    transform: translateY(-100%);
}

.header__outer {
    position: relative;
    z-index: 1001;
    padding: 24px 0;
    background: var(--color-white);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(45px);
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img-logo {
    display: block;
}

.header__inner,
.header__wrapper-menu {
    display: flex;
    align-items: center;
}

.header__wrapper-menu {
    @include tablet-block {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        background: rgba(255, 255, 255, .80);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(25px);
        padding: 50px;
        padding: 45px 0;
        visibility: hidden;
        opacity: 0;
        transition: visibility .2s ease-out, opacity .2s ease-out;
    }
}

.header__menu-list.menu__list {
    display: flex;
    align-items: center;
    padding: 0;
    @include tablet-block {
        flex-direction: column;
    }
}

.header__menu-item.is-active .menu__link {
    border-bottom: 1px solid rgba(149, 149, 149, 0.5);
}

.header__menu-item.menu__item ~ .header__menu-item.menu__item {
    margin-top: 0;
    margin-left: 35px;
    @include tablet-block {
        margin-left: 0;
        margin-top: 30px;
        opacity: 0;
        transition: opacity .2s;
    }
}

.header__burger-menu {
    margin-left: 55px;
}

.header__actions {
    margin-left: 35px;
    @include tablet-block {
        margin-left: 0;
        margin-top: 30px;
    }
}

.header__btn {
    @include tablet-block {
        opacity: 0;
        transition: opacity .2s;
    }
}