.search__form {
    display: inline-flex;
    align-items: center;
    width: 100%;
    @include mobileXS-block {
        flex-direction: column;
    }
}

.search__field {
    width: 100%;
}

.search__input {
    position: relative;
    font-family: var(--font-montserrat);
    font-size: 16px;
    font-weight: 300;
    color: rgba(18, 18, 18, 0.55);
    padding: 15px 15px 14px;
    outline: none;
    border: 1px solid var(--color-green-light);
    border-radius: 25px;
    width: 100%;
    z-index: 11;
}

.search__input:focus,
.search__input:target,
.search__input:active,
.search__input:focus-within,
.search__input:focus-visible,
.search__input:hover {
    border: 1px solid var(--color-blue);
    background: var(--color-white);
}

.search__btn {
    margin-left: -45px;
    @include mobileXS-block {
        margin-left: 0;
        margin-top: 30px;
    }
}

.search__count {
    margin-top: 15px;
}

.search__result {
    margin-top: 35px;
}

.search__excerpt {
    font-size: 14px;
    margin-top: 15px;
}

.search__more {
    display: inline-block;
    text-decoration: none;
    color: var(--color-dark-gray);
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(18, 18, 18, 0.25);
}

.search__no-found {
    margin-top: 35px;
}

.search__input[type="search"]::-webkit-search-cancel-button {
    position: absolute;
    -webkit-appearance: none;
    right: 15px;
    width: 20px;
    height: 20px;
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgMTNMMTMuMDIwNyAxTTEgMUwxMy4wMjA3IDEzIiBzdHJva2U9IiMxMjEyMTIiIHN0cm9rZS1vcGFjaXR5PSIwLjU1IiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==") center no-repeat;
}