.targets {
    position: relative;
}

.targets__decor-pic {
    position: absolute;
    width: 100%;
    max-width: 120px;
    @include tablet(display, none);
}

.targets__decor-svg {
    display: block;
    max-width: 120px;
}

.targets__decor-pic--left {
    left: 0;
    @include to(1366px) {
        top: 40%;
    }
}

.targets__decor-pic--right {
    right: 0;
}

.targets__decor-pic.targets__decor-pic--about-left {
    left: 0;
    top: -250px;
    @include to(1366px) {
        top: 30%;
    }
}

.targets__decor-pic.targets__decor-pic--about-right {
    top: -50px;
    right: 0;
}

.targets__items {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    @include tablet(max-width, 736px);
    @include mobile(max-width, 500px);
}

.targets__item {
    position: relative;
    max-width: 260px;
    @include mobile(margin-top, 120px);
}

.targets__item ~ .targets__item {
    margin-top: 40px;
    @include mobile(margin-top, 120px);
}

.targets--about .targets__item ~ .targets__item {
    margin-top: 90px;
    @include mobile(margin-top, 130px);
}

.targets__item:nth-child(even) {
    align-self: flex-end;
}

.targets__item::before {
    position: absolute;
    left: -98px;
    bottom: -32px;
    content: attr(data-num);
    font-family: var(--font-rubik);
    font-size: responsive 150px 200px;
    line-height: 1;
    font-range: 320px 1200px;
    font-weight: 700;
    color: transparent;
    background-color: var(--color-green-light);
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
    background-clip: text;
    pointer-events: none;
    user-select: none;
    @include tablet(left, -65px);
    @include mobile-block {
        bottom: auto;
        top: -110px;
    }
}

.targets__item:nth-child(1)::before {
    left: -75px;
    @include tablet(left, -55px);
}

.targets__item:nth-child(2n+1)::before {
    @include mobile-block {
        left: 0;
        text-align: left;
    }
}

.targets__item:nth-child(2n)::before {
    @include mobile-block {
        right: 0;
        text-align: right;
    }
}

.targets__headline {
    display: inline-flex;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.targets__descr {
    position: relative;
    padding: 25px 12px 25px 25px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25px);
    max-width: 260px;
}

.targets__svg {
    display: block;
}

.targets__decor-stars,
.targets__decor-arrow {
    position: absolute;
    pointer-events: none;
    user-select: none;
}

.targets__decor-arrow {
    bottom: auto;
    @include mobile(display, none);
}

.targets__decor-arrow--right {
    left: 50%;
}

.targets__decor-arrow--left {
    right: 50%;
}

.targets__decor-stars {
    z-index: 10;
}

.targets__decor-stars--one {
    top: 10px;
    right: 30px;
}

.targets__decor-stars--two {
    bottom: -63%;
    left: 30%;
    @include mobile(display, none);
}

.targets--about .targets__decor-stars--two {
    bottom: 9%;
    left: -14%;
}