.map__subtitle {
    display: inline-flex;
    align-items: center;
}

.map__icon-info {
    margin-right: 15px;
}

.map__svg-info {
    display: block;
}

.map__container {
    margin-top: 30px;
}

.map__container .fm-scale {
    top: 50%;
    right: 0;
    left: auto;
    transform: translateY(-50%);
}

.map__container .fm-scale a {
    line-height: 35px;
}

.map__container .fm-scale .fm-scale-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.45);
    border: 1px solid rgba(18, 18, 18, 0.4);
    box-sizing: border-box;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
}


.map__container .fm-scale .fm-scale-plus,
.map__container .fm-scale .fm-scale-minus {
    margin-right: 0;
    font-weight: 300;
    border: none;
    width: 39px;
    height: 41px;
    border-radius: 5px;
    border-bottom: none !important;
}

.map__container .fm-scale .fm-scale-plus {
    order: -1;
    border-radius: 5px 5px 0px 0px;
}

.map__container .fm-scale .fm-scale-minus {
    padding-top: 3px;
    border-top: 3px solid solid rgba(0, 0, 0, 0.10);
    border-radius: 0px 0px 5px 5px;
}

.map__container .fm-tooltip {
    max-width: 425px;
    width: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 1);
}

.map__container .fm-tooltip-name {
    padding: 10px 40px 10px 15px;
}

.map__container .fm-tooltip-frame {
    border: none;
    overflow: hidden;
    padding: 0;
    max-width: 425px;
    width: 100%;
}

.map__container .fm-tooltip-frame tbody .fm-tooltip-frame {
    display: flex;
    flex-direction: column;
}

.map__container .fm-tooltip-frame .fm-tooltip-image {
    padding: 0;
}

.map__container .fm-tooltip-image img {
    display: block;
    max-width: 100%;
    width: 100%;
    max-height: 110px;
    object-fit: cover;
    object-position: center;
}

.map__container .fm-tooltip-comment {
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 1);
}

.map__container .fm-tooltip-comment p {
    border-bottom: 1px solid #EFEFEF;
}

.map__container .fm-tooltip-comment p:last-child {
    border-bottom: none;
}

.map__container .fm-tooltip-comment span a {
    color: rgba(18, 18, 18, 1);
    text-decoration: none;
}

.map__container .fm-tooltip-comment span a:hover {
    color: var(--color-blue);
    text-decoration: none;
}

.map__container .fm-tooltip-x {
    position: absolute;
    top: 12px;
    right: 10px;
    margin: 0;
    color: var(--color-white);
    font-weight: 300;
}

.map__container .russiaHtml5MapStateInfo {
    text-align: center;
    max-width: 1024px;
    margin: 0 auto;
    padding: 15px;
}

.map__container .russiaHtml5MapStateInfo a {
    text-decoration: none;
    color: rgba(18, 18, 18, 1);
    translate: color .2s ease, text-decoration .2s ease;
}

.map__container .russiaHtml5MapStateInfo a:hover {
    text-decoration: underline;
    color: var(--color-blue);
}